<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <form class="form" method="post">
        <div class="form-group">
          <label for="IdTextField">Product id</label>
          <input
            type="text"
            class="form-control"
            id="IdTextField"
            placeholder="Product id"
            name="Productid"
            value="<%= products.Productid %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="NameTextField">Product Name</label>
          <input
            type="text"
            class="form-control"
            id="NameTextField"
            placeholder="Product name"
            name="Productname"
            value="<%= products.Productname %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="DescTextField">Description</label>
          <input
            type="text"
            class="form-control"
            id="DescTextField"
            placeholder="Product Description"
            name="Description"
            value="<%= products.Description %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="PriceTextField">Price</label>
          <input
            type="text"
            class="form-control"
            id="PriceTextField"
            placeholder="Product Price"
            name="price"
            value="<%=  products.Price %>"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check-square-o"></i> Submit
        </button>
        <a href="/products" class="btn btn-warning"
          ><i class="fa fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
